@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/global/global" as *;

// Login Modal Styling
.login-modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 5.5rem;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;

  &__wrapper {
    display: flex;
    flex-direction: column;
    background: $white;
    padding: 1.5rem 1rem;
    max-width: 100%;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__heading {
    font-size: 1.5rem;
    color: $pitstop-lightBlue;
    margin: 0;
  }

  &__close {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
  }
}
