@use "./variables" as *;

// Media Queries
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: $laptop-breakpoint) {
    @content;
  }
}

// Buttons
@mixin nav-link {
  padding: 0.5rem 1rem;
  background-color: $pitstop-lightBlue;
  color: $white;
  font-weight: 500;
  text-decoration: none;
  border-radius: 4px;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;

  &:hover {
    background-color: $pitstop-hoverLightBlue;
  }

  &:active {
    box-shadow: none;
    background-color: $pitstop-activeLightBlue;
  }
}

@mixin auth-button {
  @include nav-link;
  border: none;
  cursor: pointer;
}

@mixin cta-button {
  padding: 1rem 0;
  margin: 1rem 0;
  width: 75%;
  max-width: 15rem;
  background-color: $pitstop-hoverLightBlue;
  border: 2px solid $white;
  box-sizing: border-box;
  border-radius: 0.75rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  overflow: hidden;
  transition: transform 0.4s ease-in-out, font-weight 0.4s ease-in-out;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $pitstop-green;
    transition: left 0.4s;
    z-index: 0;
  }

  &:hover:before {
    left: 0;
  }

  &:hover {
    background-color: $pitstop-hoverLightBlue;
    transform: scale(1.02);
    border: 2px solid $white;
    box-sizing: border-box;

    .register-form__button--text {
      font-weight: 600;
    }

    .login-form__button--text {
      font-weight: 600;
      position: relative;
      z-index: 2;
    }
  }

  &:active {
    box-shadow: none;
    outline: none;
  }

  &--text {
    font-family: Raleway;
    font-size: 1.75rem;
    color: $white;
    z-index: 1;
    transition: font-weight 0.4s ease-in-out;
  }
}

// Flexbox mixins
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Form Mixins
@mixin form-labels {
  font-size: 1rem;
  padding: 1.5rem 0 0.25rem 0;
  font-weight: 500;
}

@mixin form-fields {
  border-radius: 0.3rem;
  border: 1px solid $grey;
  outline: none;
  padding: 0.5rem;
  line-height: 1rem;
  font-size: 0.9rem;
  color: $pitstop-darkBlue;
  font-family: Raleway;

  &:hover {
    border: 1px solid $pitstop-hoverLightBlue;
  }

  &:focus {
    border: 1px solid $pitstop-activeLightBlue;
    background-color: $field-background;
  }

  &::placeholder {
    color: $placeholder-grey;
    font-family: Raleway;
    font-weight: 100;
    font-size: 0.9rem;
  }
}

@mixin session-tile {
  @include flex-center;
  height: 5rem;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.75rem;
  color: $white;
  width: 100%;
  max-width: 24.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0.75rem;
  border: 2px solid $white;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: font-weight 0.2s linear, box-shadow 0.2s linear, filter 0.3s,
    color 0.3s ease;
  filter: grayscale(100%);

  &:hover {
    filter: grayscale(0%);
    // box-sizing: border-box;
    box-shadow: $pitstop-hoverLightBlue 0px 6px 12px -2px,
      $pitstop-hoverLightBlue 0px 3px 7px -3px;
    font-weight: 600;
  }

  &:active {
    box-shadow: none;
    outline: none;
  }

  @include tablet {
    max-width: 32rem;
  }

  @include laptop {
    max-width: 45rem;
  }
}

@mixin tracker-tile {
  border-radius: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: $white;
  padding: 1.5rem 1rem;
  display: flex;

  @include tablet {
    padding: 1.5rem 2rem;
  }
}
