// Base Website Colours
$white: #fbfbfb;
$black: #000000;
$light-grey: #ece6e6;
$grey: #cbcbcb;
$pitstop-beige: rgb(252, 235, 221);
$pitstop-yellow: #ffde59;
$pitstop-lightBlue: #3a9ec6;
$pitstop-activeLightBlue: #2788ae;
$pitstop-hoverLightBlue: #32abdb;
$pitstop-hero: #5fd2ff;
$pitstop-red: #e60e0d;
$pitstop-darkBlue: #001838;

// Breakpoints
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1280px;

// Unique Styling
$placeholder-grey: #c0c0c0;
$field-background: #f8fbff;

// Team Tile Background
$tile-alpine: #ff6ec5;
$tile-astonmartin: #05423d;
$tile-ferrari: #e11d20;
$tile-kicksauber: #00e701;
$tile-mercedes: #c8ccce;
$tile-mclaren: #000000;
$tile-redbull: #001a30;
$tile-vcarb: #1434cb;
$tile-williams: #001396;
