// Base Website Colours
$white: #fbfbfb;
$black: #000000;
$light-grey: #ece6e6;
$grey: #cbcbcb;
$pitstop-beige: rgb(252, 235, 221);
$pitstop-yellow: #ffde59;
$pitstop-lightBlue: #3a9ec6;
$pitstop-activeLightBlue: #2788ae;
$pitstop-hoverLightBlue: #32abdb;
$pitstop-hero: #5fd2ff;
$pitstop-red: #e60e0d;

// Breakpoints
$tablet-breakpoint: 768px;
$laptop-breakpoint: 1280px;
